PORT=3000
AWS_REGION=ap-southeast-1
DYNAMODB_TABLE=homepage-items

# Opsional: jika pakai profile lokal di laptop/dev
# AWS_PROFILE=default

# Opsional: jika pakai IAM User (bukan IAM Role EC2)
# AWS_ACCESS_KEY_ID=your_access_key
# AWS_SECRET_ACCESS_KEY=your_secret_key
